/*
 * "The Applicant" by Lucas Traba
 * Stylesheet
 */

/* style for the whole container */
.container
{
	text-align: center;
}

/* style for company label on the header */
#bpi
{
	padding-top: 10px;
	padding-bottom: 30px;
	font-size: 150%; 
}

/* style for ABYSS's container */
.abyss
{
	width: 200px;
	margin: auto;
}

/* style for Abyss */
.abyss img
{
	display: block;
	margin: auto;
	width: 200px;
	height: 200px;
	padding-top: 10px;
}

/* style for footer */
#bottom
{
	color: #999999;
	text-align: center;
	margin: auto;
	background-color: black;
	border-style: solid;
	border-color: black;
	border-radius: 10px;
	width: 110px;
	font-size: 18px;
	vertical-align: text-bottom;
	margin-top: 2em;
}

/* style for footer links */
#bottom a
{
	color: inherit;
	text-decoration: inherit;
}

/* style for button */
#button img
{
	display: block;
	margin: auto;
	width: 150px;
	height: 150px;
	padding-bottom: 10px;
}

/* style for clicks counter */
#clicks
{
	padding-bottom: 50px;
	font-size: 35px;
}

/* style for owned items on mouseover (to override bootstrap default) */
.table:hover .owned
{
	background-color: lightgray;
	color: gray;
}

/* style for owned items */
.owned
{
	background-color: lightgray;
	color: gray;
}

/* style for "can't afford" or "already owned" item messages */
#affordtgl
{
	font-weight: bold;
	color: red;
}

/* style for navbar */
#navbar
{
	display: inline-block;
	padding-bottom: 10px;
}

/* style for shop nav pills */
.dark a
{
	background-color: black;
	color: lightgray;
}

/* style for shop nav pills on mouseover */
.dark>li>a:hover,
.dark>li>a:focus
{
	background-color: lightgray;
	color: black;
}

/* style for shop nav pills when selected */
.selected a
{
	background-color: lightgray;
	color: black;
}

/* unused */
.login
{
	display: block;
	margin: auto;
	width: 250px;
	padding-bottom: 10px;
}

/* style for inventory items (mirror and room) */
.inventory
{
	font-style: italic;
	padding-bottom: 20px;
}

/* style for dialogue at inventory pages (mirror and room) */
.invdialogue
{
	padding: 2em;
	width: 60%;
	border: 3px solid #666;
	border-radius: 12px;
	margin: auto;
	margin-bottom: 1em;
}

/* style for the navbar toggle button */
#menu-toggle
{
	padding-bottom: 30px;
}

/* style for dialogues */
.dialogue
{
	text-align: left;
	padding: 2em;
	width: 60%;
	border: 3px solid #666;
	border-radius: 12px;
	margin: auto;
	margin-bottom: 1em;
}

/* style for user responses */
.response
{
	width: 60%;
	text-align: left;
	margin: auto;
	padding: 2em;
}

.response p
{
	margin: 0.5em;
}

/* style for login and register form input */
form input
{
	display: inline;
	text-align: left;
	margin: none;
	width: 100px;
	line-height: 1em;
}

/* style for login and register submit buttons */
.drkbutton
{
	background-color: black;
	color: lightgray;
	border-radius: 5px;
    border-color: black;
}

.drkbutton:hover,
.drkbutton:focus
{
	background-color: gray;
	color: black;
	border-color: gray;
}

/* style for login and register response section */
.drkdiv input
{
	background-color: #eee;
	border-color: black;
	padding-left: 5px;
	color: black;
}

.drkdiv
{
	display: inline-block;
	padding: 3px;
	padding-left: 8px;
	background-color: #444;
	color: lightgray;
	border-radius: 5px;
	border-color: black;
	line-height: 2em;
}

/* style for shop table */
table
{
	table-layout: fixed;
}

/* scrolling capabilities for shop table */
#scroll
{
	height: 350px;
	overflow-y: auto;
}